/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js/app.js
my-app/test/unit/specs/HelloWorld.spec.js
my-app/test/unit/setup.js
my-app/test/unit/.eslintrc
my-app/config/dev.env.js
my-app/config/index.js
my-app/config/prod.env.js
my-app/config/test.env.js
my-app/index.html
my-app/package-lock.json
my-app/package.json
my-app/README.md
my-app/src/App.vue
my-app/src/assets/logo.png
my-app/src/components/HelloWorld.vue
my-app/src/main.js
my-app/src/router/index.js
my-app/static/.gitkeep
my-app/test/e2e/custom-assertions/elementCount.js
my-app/test/e2e/nightwatch.conf.js
my-app/test/e2e/runner.js
my-app/test/e2e/specs/test.js
my-app/test/unit/jest.conf.js
my-app/.babelrc
my-app/.editorconfig
my-app/.eslintignore
my-app/.eslintrc.js
my-app/.postcssrc.js
my-app/build/build.js
my-app/build/check-versions.js
my-app/build/logo.png
my-app/build/utils.js
my-app/build/vue-loader.conf.js
my-app/build/webpack.base.conf.js
my-app/build/webpack.dev.conf.js
my-app/build/webpack.prod.conf.js
